*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
background: #f4f4f4;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding-top: 40px;
background-color: #ffffff;
color: #000;
transition: background-color 0.3s, color 0.3s; /*smooth toggle*/
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

li {
    background-color: #f0f0f0;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

body.dark li{
    background-color: #1e1e1e;
    border-color: #333;
    color: #ddd;
}

body.dark .todo {
    background-color: #1e1e1e; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    color:#ddd;
}
.todo {
    background: #fff;
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.todo h1 {
    text-align: center;
    margin-bottom: 15px;
}

body.dark .todo h1 {
    color: #ffffff;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;

}

ul {
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}